{% extends "Amazon/index.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{%if user.is_authenticated%}
<div class="col-8">
    <h1>Mini Amazon</h1>
    <hr class="mt-0 mb-4">
    <p>Welcome, {{user.username}} ! We are happy to Serve you!</p>
    <br>
    <caption>Recommended Products</caption> 
    <table>
        {% for r in recommends.all %} 
            <tr>
                <td>
                    {{r.name}}
                </td>
                <td>
                    Average Rate: {{r.avg_rate}}/5
                </td>
                <td>
                    Details
                </td>
            </tr>

        {% endfor %}
    </table>
    {%else%}
    <h1>
        <p>Welcome to Mini Amazon!</p>
    </h1>
    <hr class="mt-0 mb-4">
    <p>We are happy to Serve you!</p>
    <p>If you already have an account <a href="/login">Log in here</a>.</p>
    <p>Or, <a href="/register">Register a new account here</a>.</p>
    {%endif%}
</div>

{% endblock %}