{% extends "Amazon/index.html" %}
{% block content %}
<h3>History Orders</h3>
<table class="table table-striped table-hover caption-top">
    <tr>
        <th style="width:20%"></th> 
        <th style="width:20%" ></th> 
    </tr>   
    {% for o in orders%}     
        <tr>
            <td>
                <a href="{% url 'order_details' o.id %}">
                    <div style="display: flex; justify-content: center;">
                        <img src="data:;base64,{{o.img}}" style="max-width: 200px; max-height: 200px;">        
                    </div>  
                </a>
            </td>
            <td style="word-wrap: break-word;">
                <a href="{% url 'order_details' o.id %}"><font color="black">{{o.name}}</font></a>
                <br>
                Amount: {{o.amount}} &nbsp;&nbsp; Cost: ${{o.cost}}
                <br>
                <b>Status:</b> {{o.status}}
                <br><br>
                Associated UPS Account: &nbsp;{{o.ups_account}}
            </td>
           
            
        </tr>
    {% endfor %}
</table>

{% endblock %}