<table class="table table-striped table-hover caption-top" style="table-layout: fixed; width: 100%;">
    <tr>
        <th style="width:20%"></th>
        <th style="width:20%"></th>      
    </tr>
    {% for p in products %}
    <tr>
        <td>
            <a href="{% url 'product_details' p.id %}">
                <div style="display: flex; justify-content: center;">
                    <img src="data:;base64,{{p.img}}" style="max-width: 200px; max-height: 200px;">
                </div>
            </a>
        </td>
        <td style="word-wrap: break-word;">
            <a href="{% url 'product_details' p.id %}"><font color="black" size="4">{{p.name}}</font></a>
            <br>
            {{p.category}} &nbsp;&nbsp; Current Inventory: {{p.inventory}}
            <br>
            <b>${{p.price}}</b>
        </td>       
    </tr>
    {% endfor %}
</table>