{% extends "Amazon/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}


<div style=" display: inline-block; width: 40%; margin-right: 30px;vertical-align: top;">
    <br>
    <a href="{% url 'product_details' details.Order.product.id %}">
        <div style="display: flex; justify-content: center;">
            <img src="data:;base64,{{img}}" style="max-width: 200px; max-height: 200px;">
        </div>
    </a>
    <a href="{% url 'product_details' details.Order.product.id %}">
        <h3>
            <font color="black">{{details.Order.product.name}}</font>
        </h3>
    </a>

    <br>
    <caption>
        <h4>Details</h4>
    </caption>
    <table class="table table-striped table-hover caption-top">
        <th style="width:10%"></th>
        <th style="width:20%"></th>
        <tr>
            <td>Status</td>
            <td>{{details.Order.status}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{details.Order.product.price}}</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>{{details.Order.amount}}</td>
        </tr>

        <tr>
            <td>Actual Cost</td>
            <td>{{cost}}</td>
        </tr>
        <tr>
            <td>Shipping Address</td>
            <td>X: {{details.Package.address_x}}  
                <br> Y: {{details.Package.address_y}}</td>
        </tr>
        <tr>
            <td>Tracking Number</td>
            <td>{{details.Order.package}}</td>
        </tr>
        <tr>
            <td>UPS Account</td>
            <td>{{details.Order.ups_account}}</td>
        </tr>
        <tr>
            <td>Warehouse</td>
            <td>{{details.Order.product.warehouse_id}}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{details.Order.product.category}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{details.Order.product.description}}</td>
        </tr>
    </table>
    <a href="/my_orders" class="btn btn-light btn-sm">Back to My Orders</a>
</div>
<div style=" display: inline-block; width: 50%; margin-right: 30px;vertical-align: top;">
    <h4>Your Previous Review</h4>
    <table class="table table-striped table-hover caption-top" style="table-layout: fixed; width: 80%;">
        <th style="width:10%"></th>
        <th style="width:20%"></th>
        <tr>
            <td>Rate</td>
            <td style="word-wrap: break-word;">{{details.Order.rate}}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td style="word-wrap: break-word;">{{details.Order.comment}}</td>
        </tr>
    </table>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <br />
        <input type="submit" value="Save" class="btn btn-outline-success">&nbsp;&nbsp;
        <a href="/my_orders" class = "btn btn-outline-success">Back to My Orders</a>
    </form>

</div>

{% endblock %}